.logo {
    float: left;
    font-size: 16px;
    height: 96px;
    position: fixed;
    top: 10px;
    left: 10px;
    margin: 10px 5px;

}

.navbar {
    margin: 10px;
    padding: 10px;
    position: absolute;
    top: 8px;
    right:16px;
}

.button-green {
    margin: 10px;
    padding: 10px;
    background-color: aqua;
    text-decoration: none;
}

.button-white {
    padding: 10px;
    background-color: white;
    text-decoration: none;
}    
